In [1]:
%matplotlib inline
import pymysql
import os
import re
import copy
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from lxml import etree
import json
import time

In [2]:
connection = pymysql.connect(host='127.0.0.1',
                             user='data',
                             password='data',
                             db='mag-new-160205',
                             charset='utf8mb4',
                             port=3306,
                             cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()

In [6]:
teststr = "mark_a_hall\tfrank_hutter\t2009 2014"
tags = teststr.split('\t')
ori_au = tags[0]
ref_au = tags[1]
pair = tags[2]
st = int(pair.split(' ')[0])
ed = int(pair.split(' ')[1])

In [7]:
search_str = "SELECT Authors.AuthorID FROM (SELECT Authors.AuthorID FROM Authors WHERE AuthorName='%s'), Papers, PaperAuthorAffiliations, PaperReferences WHERE \
                        PaperAuthorAffiliations.PaperID = PaperReferences.PaperID and Authors.AuthorID = PaperAuthorAffiliations.AuthorID \
                        and Papers.AuthorID = Authors.AuthorID and Papers.PaperPublishYear='%d'"
cursor.execute(search_str % (ori_au, st))

InternalError: (1248, 'Every derived table must have its own alias')